<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./index.css" />
</head>
<body>
	<div class="box">
		<div class="container" id="bgimg">
			<div class="title">
				<span class="logo">SHOW-T</span> <span class="txt">嗅探影视大数据</span>
			</div>
			<div class="search-box" id="search-box">
				<div class="input-box">
					<input class="input" type="text" placeholder="请输入想要嗅探的影片名称">
					<div class="tag"></div>
				</div>
				<div class="btn">嗅探一下</div>
			</div>
			<div class="lists" id="lists">
				<!-- <div class="item" style="">
					<div class="cycle"></div>
					<div class="txt">这是影片名字</div>
					<div class="img"></div>
				</div> -->
			</div>
		</div>
		<!-- <div class="img-box" id="bgimg"></div> -->
	</div>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var Img = new Image()
			Img.src = './bg.png'
			Img.onload = function () {
				$("#bgimg").addClass("load");
			}



			var timer = null;



			$(window).on('resize', function () {

				timer && clearTimeout(timer);

				timer = setTimeout(function(){

					return showXingXing();

				}, 200)
			})


			showXingXing();




			function showXingXing() {
				var lists = document.getElementById("lists");

				var $top = $("#search-box").offset().top;

				lists.innerHTML = '';

				// <!-- 星星列表 随便大小 随机位置 -->

				// 星星的位置  top: 0 - $height   left: 0 - $width 
				var $width = $(window).width(), $sheight = $(window).height(), $height = $sheight - $top - 140;
				// 如果屏幕没有显示区域 则不显示
				$("#lists").height($height > 0 ? $height : 0);
				if ($height <= 0) return false;

				/**
				 * 
				 */
				
				var html = '', currentPostion = [];

				var getPosition = function (len) {
					return Math.floor(Math.random()*len);
				}

				var getPositionLeft = function () {

					var len = currentPostion.length, cleft = getPosition($width);

					if (currentPostion.length == 0) return cleft;
					
					for (var i = 0; i < len; i++) {
						var left = currentPostion[i].left;
						if (Math.abs(cleft - left) < 20) {
							console.log(121212);
							return getPositionLeft();
						};
					}
					return cleft;
				}



				var pleft, ptop;

				// 随机
				for(var i=0; i< 30; i++) {
					pleft = getPositionLeft();
					ptop = getPosition($height);
					currentPostion.push({
						left: pleft,
						top: ptop
					})


					var width = getPosition(20);

					width = width < 10 ? 10 : width

					html += `<div class="item" style="left: ${pleft}px; top: ${ptop}px">
							<div class="cycle" style="width: ${width}px; height: ${width}px"></div>
							<div class="txt">这是影片名字</div>
							<div class="img"></div>
						</div>`;
				}


				lists.innerHTML = html;
			}

			











			// console.log(html, currentPostion);


			// function getPosition() {
			// 	var top = Math.floor(Math.random()*$height), left = Math.floor(Math.random()*$width);

			// }




			// console.log($height, $width, $top)
		})
	</script>
</body>
</html>