*, *::after, *::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	outline: none;
}
.box {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.container {
	/*position: absolute;
	left: 0;
	top: 0;*/
	width: 100%;
	height: 100vh;
	/*z-index: 99;*/
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 200px;*/
	padding-top: 3%;
	position: relative;
	background: #999 url(/images/bg1.jpg) center center no-repeat;
	background-size: 100% 100%;
}
.container.load {
	background: url(/images/bg.png) center center no-repeat;
	background-size: 100% 100%;
}
/*.img-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 9;
	background: #999 url(./bg1.jpg) center center no-repeat;
	background-size: 100% 100%;
}
.img-box.load {
	background: url(./bg.png) center center no-repeat;
}*/
.title {
	font-size: 20px;
	color: #68ddff;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	line-height: 1;
	padding-top: 140px;
}
.title .logo {
	font-size: 48px;
	font-weight: bold;
	color: #2a9377;
}
.title .txt {
	padding-bottom: 3px;
	padding-left: 8px;
}

.search-box {
	width: 784px;
	height: 80px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px #ccc;
	margin: 44px auto;
}
.input-box {
	width: 670px;
	height: 80px;
	border: 1px solid #6f6bf1;
	border-right: none;
	overflow: hidden;
	position: relative;
}
.input-box .tag {
	width: 100%;
	height: 100%;
	background: #6f6bf1;
	opacity: 0.2;
}
.input-box .input {
	position: absolute;
	left: 0;
	top: 0;
	background: transparent;
	width: 100%;
	height: 100%;
	padding-left: 25px;
	z-index: 2;
	color: #fff;
	font-size: 18px;
}
.btn {
	width: 114px;
	height: 80px;
	color: #fff;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid #6f6bf1;
	border-left: none;
	background-image: -webkit-linear-gradient(135deg, rgba(66, 117, 240, 0.6), #6f6bf1);
    background-image:-o-linear-gradient(135deg, rgba(66, 117, 240, 0.6), #6f6bf1);
    background-image:-moz-linear-gradient(135deg, rgba(66, 117, 240, 0.6), #6f6bf1);
    background-image: linear-gradient(135deg, rgba(66, 117, 240, 0.6), #6f6bf1);
}
.btn:hover {
	background-image: -webkit-linear-gradient(135deg, rgba(66, 117, 240, 0.8), #6f6bf1);
    background-image:-o-linear-gradient(135deg, rgba(66, 117, 240, 0.8), #6f6bf1);
    background-image:-moz-linear-gradient(135deg, rgba(66, 117, 240, 0.8), #6f6bf1);
    background-image: linear-gradient(135deg, rgba(66, 117, 240, 0.8), #6f6bf1);
}
.lists {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	/*background: red;*/
}
.item {
	position: absolute;
	left: 100px;
	top: 100px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.6;
	z-index: 1;
	transition: all 0.2s;
}
.item .cycle {
	width: 10px;
	height: 10px;
	background: #68ddff;
	border: 3px solid #2a5369;
	border-radius: 100%;
	transition: all 0.3s;
}
.item .txt {
	padding-top: 10px;
	font-size: 14px;
	color: #2a5369;
	transition: all 0.3s;
}
.item .img {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -60px;
	transform: translate3d(0, -110%, 0);
	width: 120px;
	height: 160px;
	background: rgba(0, 233, 0, 0.4);
	transition: all 0.3s;
	display: none;
}
.item .img image {
	width: 100%;
	height: 100%;
}
.item:hover {
	z-index: 9;
	opacity: 1;
}
.cycle:hover {
	background: #fff;
	transform: scale(1.5);
}
.cycle:hover ~ .txt {
	color: #fff;
}
.cycle:hover ~ .img {
	display: block;
}